@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import './antd.css';

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  color: var(--text-1-color);
}

textarea,
input {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  padding: 4px;
}

:root {
  --navgar-mobile-height: 54px;
  --header-mobile-height: 40px;
  --navbar-height: 52px;
  --header-height: 40px;

  --background-color: #fff;
  --text-1-color: #333;
  --text-2-color: #fff;
  --contrast-1-color: #1890ff;
  --contrast-2-color: #264653; 
  --success-color: #03A828;
  --error-color: #f5222d;
}

::-webkit-scrollbar {
  display: none;
}
